/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-color: #315481;
  background-attachment: auto;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
header {
  padding: 10px 10px 10px 10px;
  position: relative;
}
div.background{
  background-image: url(/images/LNG_tanker.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  max-width: 100%;
  height: 230px;
}
div.transbox{
  margin: 80px;
  size: 10px 10px;
  background-color: #ffffff;
  border: 1px solid green;
  opacity: 0.6;
  padding: 0;
  filter: alpha(opacity=60);
}
h2{
  font-size: 20px;
  padding: 0;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  justify-content: center;
  text-align:auto;
  color: #40915A;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 654px;
  height: auto;
  padding-top: 2px;
}
#backgroundWrapper{
  height: 300px;
  width: 657px;
}
#indicator{
  width: 60px;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  background-color: gray;
  padding: 0px;
  margin: 0px;
  clear: both;
  }
#welcome{
  padding: 0;
  margin: 0;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#divfix{
  position: relative;
}
#login-buttons {
  display: block;
}
#printsearch{
  margin-left: auto;
  margin-right: auto;
  width: 654px;
  font-size: 15px;
}
.container {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-color: #315481;
  background-attachment: auto;
  background-size: contain;
  max-width: 700px;
  min-width: 678px;
  margin:0 auto;
  min-height: 100%;
  background: white;
}
.textColor{
  color:#53BA53;
  opacity: 0.9;
}
.imgopacity{
  opacity: 0.5;
}
.sizeHeader{
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px;
  padding: 0px 0px;
}
.divmsg{
  border-radius: 0px;
  padding: 0px;
}
.btn{
  font-size: 10px;
  border-radius: 30px 30px;
  border: 3px solid green;
  background-color: white;
  color:#53BA53;
  padding: 5px;
  cursor: pointer;
}
.bpimgSize{
  height: 7%;
  width: 7%;
  padding: 0;
  margin: 0;
}
.imgSize{
  flex-basis: auto;
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  left: -28px;
}
.sizeImput{
  font-size: 10px;
  border-radius: 10px;
  border: 3px solid green;
  background-color: white;
  color:#53BA53;
  padding: 10px 50px;
  max-width: 500px;
  min-width: 250px;
  margin:0 auto;
  align-items: center;
  display: inline-block;
}
.contentfont{
  font-size: 10px;
  padding: 0;
  margin-bottom: 5px;
  color:#429642;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
.wrap{
  width: 50%;
  min-width: 618px;
}
.bpColor{
  padding: 0px 0px;
  margin-bottom: 0px;
  color:#429642;
  margin-right: 0px;
  text-align: center;
}
.new-task input {
  box-sizing: border-box;
  padding: 10px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
.new-task input:focus{
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  background: white;
}
div{
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
  text-align: center;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 10px;
}
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
li.private {
  background: #eee;
  border-color: #ddd;
}
header .hide-completed {
  float: right;
}
.toggle-private {
  margin-left: 5px;
}



@media only screen
and (min-width: 320px)
and (max-width: 480px)
and (-webkit-min-device-pixel-ratio: 3) {

    body{
      min-width: 320px;
      max-width: 480px;
    }

    #block1, #block2 {
        width: 100%;
    }
    #wrapper{
      margin-left: auto;
      margin-right: auto;
      min-width: 315px;
      max-width: 480px;
      height: auto;

    }
    #backgroundWrapper{
      height: 300px;
      min-width: 270px;
      padding: 0px;
      margin: 0px;
    }
    #welcome{
      text-align:center;
      display: block;
      min-width: 280px;
      max-width: 480px;
    }
    #printsearch{
      min-width: 280px;
      max-width: 480px;

    }
    .background{
      min-width: 270px;
      max-width: 480px;
    }

    .search{
      text-align:center;
      display: block;
      min-width: 270px;
      max-width: 480px;
    }

    .sizeImput{
      min-width: 235px;
      max-width: 250px;
    }

    .textColor{
      min-width: 280px;
      max-width: 480px;
      font-size: 10px;
    }
}



@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
