/* CSS declarations go here */
body {

  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-color: #315481;
  background-attachment: auto;
  background-size: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

  #indicator {
    width: 60px;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    background-color: gray;
    padding: 5px;
    margin: 5px;
    clear: both;
  }
#welcome{
  margin: 5px;
  padding: 25px;
}


.container {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-color: #315481;
  background-attachment: auto;
  background-size: auto;
  max-width: 700px;
  margin: auto;
  min-height: 50%;
  background: white;
}
.textColor{
  color:#53BA53;
  opacity: 0.5;
}

.imgopacity{
  opacity: 0.5;
}
header {
  padding: 10px 10px 10px 10px;
  position: relative;
}
.sizeHeader{
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px;
  padding: 0px 0px;
  max-height: 450px;
}
.divmsg{
  border-radius: 0px;
  padding: 0px;
}
.btn{
  border-radius: 10px 40px;
  border: 2px solid green;
  background-color: white;
  color:#53BA53;
  padding: 10px 30px;
  cursor: pointer;

}
.sizeImput{
  border-radius: 10px;
  border: 2px solid green;
  background-color: white;
  color:#53BA53;
  padding: 10px 50px;
}

#login-buttons {
  display: block;
}

div.background{
  background-image: url(/images/LNG_tanker.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

div.transbox{
  margin: 60px;
  background-color: #ffffff;
  border: 1px solid green;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.bpColor{
  padding: 0px 0px;
  margin-bottom: 5px;
  color:#429642;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  justify-content: center;
  text-align:auto;
  color: #40915A;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

div{
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  text-align: center;
}


li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
